# First install pipenv by running 'sudo pip install pipenv'
# Then to install the requirements run 'pipenv install'

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest = "==3.0.5"
pytest-cov = "==2.4.0"
Flask = "==1.0.2"
Flask-Login = "==0.4.0"
Flask-Migrate = "==2.0.2"
Flask-Script = "==2.0.5"
Flask-SQLAlchemy = "==2.4.0"
Flask-WTF = "==0.14.2"
Flask-User = "==1.0.1.5"
Werkzeug = "==0.16.1"

[requires]
python_version = "3.8"
